body {
  background-color: #FEFBE7;
}

.card-lists {
  overflow-x: auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}


.card-info {
  font-weight: 600;
  text-align: center;
}

.card-description {
  padding: 0.5em;
  font-size: 0.75em;
  border: 1px solid rgb(190, 184, 184);
}

.input {
  width: 20em;
  margin: 0.75em;
}

.input.card-color {
  width: 5em;
}

.control {
  display: flex;
  flex-direction: column;
}

.panel-heading {
  background-color: #9772FB;
}